/* LANDING PAGE*/

/* Main style */
body { margin:0; padding:0; }
#map { position:relative; top:0; bottom:0; width:100%; }

#map {
    position: fixed;
    width:50%;
}
#features {
    width: 50%;
    margin-left: 50%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
}
section {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}



/* Maiden Font */
@font-face {
    font-family: maiden;
    src: url(../fonts/maiden.ttf);
}

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular);
}

h3 {
    color: #fccf2b;
    font-family: maiden;
   -webkit-text-stroke-width: 0.1px;
   -webkit-text-stroke-color: #015ea1;
}
 
    h1 {
        font-family: bebas;
    }
    
    

footer {
    padding-top: 150px;
}